# Node.js
backend/node_modules/
backend/.env/

# React
frontend/node_modules/
frontend/build/

# Angular
frontend-angular/node_modules/
frontend-angular/build/

# Logs
logs
*.log

# Environment files
.env
*.env

# System files
.DS_Store
Thumbs.db
